# terraform-proxmox
proxmox_api_url  = "https://pve.local:8006/api2/json"
proxmox_user     = "terraform-prov@pam"
proxmox_password = "password"
ciuser           = "user"
cipassword       = "password"

# terraform-oraclecloud
tenancy_ocid = "REPLACE_ME"
user_ocid    = "REPLACE_ME"
fingerprint  = "REPLACE_ME"
region       = "REPLACE_ME"
private_key  = <<EOF
  -----BEGIN PRIVATE KEY-----
  REPLACE_ME
  -----END PRIVATE KEY-----
EOF
